# Node.js
node_modules/

# Logs
**/logs/
**/*.log

# Dependency directories
.venv/
poetry.lock

# Build directories
dist/
build/
dist/

# Cache files and directories
.vite/
**/.next/
**/.cache/
**/*.cache
**/*.tmp

# Environment variables
**/.env

# Python
__pycache__/
*.py[cod]

# Jupyter Notebooks
**/.ipynb_checkpoints

# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.iml

# Temporary files and directories
*.swp
*.swo
*~
